@model Dane
<h1>Rejestracja zakończona pomyślnie</h1>
<p>Imię: @Model.Imie</p>
<p>Nazwisko: @Model.Nazwisko</p>
<p>Email: @Model.Email</p>
<p>Telefon: @Model.Telefon</p>
<p>Wiek: @Model.Wiek</p>
<p>Miasto: @Model.Miasto</p>
